doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Documento HTML 5
	body
		//-Atributos html
		h1 Documento HTML 5
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo consectetur eveniet dolores maxime quibusdam quae sint debitis magnam, rem nihil, rerum et dolorem harum ullam dignissimos. Accusamus debitis quod corrupti!
		//-Atributos en linea
		a(class="button" href="google.com" target="_blank") google
		//-Atributos en bloque
		input(
		type= "checkbox"
		name="agreement"
		cheked
		)
		br
		br
		br
		//-Atributos Booleanos
		label
			input(type="radio" name="color" checked=false)
			| Amarillo
		label
			input(type="radio" name="color" checked=true)
			| Azul
		label
			input(type="radio" name="color" cheked=false)           
			| Rojo


 	    
